[2014-12-31 12:29] alexanderdean opened #1 "Add Travis support to project"
Like this? https://github.com/Larusso/travis-CI-actionscript-demo

[2014-12-31 12:39] alexanderdean opened #2 "Add Mountebank for testing HTTP aspects"
@jbeemster can provide more info on this

[2015-01-06 11:47] alexanderdean opened #3 "Add POST support"
Not a high priority. Also add warning to doco that high batch size could lead to lost events at session end

[2015-01-06 12:03] alexanderdean opened #4 "Add outbound queue using Flash storage"
Not high priority

[2015-01-06 12:07] ephraimtabackman opened #5 "Add Flash Context properties"
Should we passively track certain Flash environment properties?

[2015-01-06 12:08] alexanderdean commented on #5
If so, we can create a JSON Schema for these properties like we have for mobile: https://github.com/snowplow/iglu-central/blob/master/schemas/com.snowplowanalytics.snowplow/mobile_context/jsonschema/1-0-0

[2015-01-11 11:51] alexanderdean commented on #2
Hey @natilivni - wanted to flag this one as it's quite interesting. Mountebank is basically a mocking framework for HTTP which means you don't have to code HttpMock-style classes into your test suite. You can see how the PHP Tracker:

1. Defines the HTTP mocks, here: https://github.com/snowplow/snowplow-php-tracker/blob/master/tests/mountebank_mocks/imposter.json
2. Installs Mountebank: https://gi

[2015-01-12 10:00] natilivni opened #6 "Should we delete old origin branches after they are complete?"

[2015-01-12 10:46] alexanderdean commented on #6
Sure thing - once a branch is merged: https://github.com/snowplow/snowplow-actionscript3-tracker/branches it can be deleted...

[2015-01-12 11:15] alexanderdean commented on #1
Reassigning to @natilivni to have a go at this.

I've done all the setup based on the above project, but I am not sure that the `pom.xml` in the root is configured correctly... The whole headless CI suite seems to use some set of Java Maven plugins that can run Flash tests, but I don't know enough to know how to wire the tests in...

You can see the error here: https://travis-ci.org/snowplow/snowp

[2015-01-12 12:27] alexanderdean commented on #6
Was done, closing

[2015-01-12 12:27] #6 closed

[2015-01-12 13:07] ephraimviewbix commented on #5
We added these which we can add to the JSON Schema:

		public static const FLASH_PLAYER_TYPE:String = "fl_pt";
		public static const FLASH_VERSION:String = "fl_v";
		public static const FLASH_STAGE_SIZE:String = "fl_sz";
		public static const FLASH_IS_DEBUGGER:String = "fl_dbg";
		public static const FLASH_HAS_LOCAL_STORAGE:String = "fl_ls";
		public static const FLASH_HAS_JAVASCRIPT_ACCESS:String

[2015-01-12 13:26] ephraimviewbix commented on #5
I have created this Schema file. How do I submit it?

[2015-01-12 13:31] alexanderdean commented on #5
Hi @ephraimviewbix - awesome, please create a PR into this project: https://github.com/snowplow/iglu-central

[2015-01-12 14:21] alexanderdean commented on #5
This is here now: https://github.com/snowplow/iglu-central/pull/107/files

Here is how the iOS Tracker adds the context in: https://github.com/snowplow/snowplow-ios-tracker/blob/master/Snowplow/SnowplowTracker.m#L96

[2015-01-12 14:24] natilivni opened #7 "add flexunit 4.0 or 4.0-rc2 to pom.xml maven script"
If someone with more experience with maven and pom.xml files wants to tackle this, it would be great.  The highest version of flexunit (used to run the as3 unit tests) that maven seems to currently support is 4.0-rc1.  Problem is that this version does not support async tests which are fairly important in as3.  If someone want to try and modify the pom.xml to run a higher version of flexunit, we c

[2015-01-12 14:25] alexanderdean commented on #7
What version of flexunit is required as a minimum for async tests?

[2015-01-12 14:27] alexanderdean commented on #1
This is done, tests are passing. See also: #7

[2015-01-12 14:27] #1 closed

[2015-01-12 14:34] natilivni commented on #7
Documentation says 4.0 which I could not find hosted anywhere.  I could not find any documentation on 4.0-rc2 but have some hope that it supported them.

[2015-01-13 09:08] natilivni commented on #5
@ephraimtabackman, has this been uploaded to Iglu?  @yalisassoon, if it has not, can you give us instructions on how to get this schema live so we can test it using the astracker.snplow.com host?

[2015-01-13 09:09] alexanderdean commented on #5
Hey @natilivni - I will upload it now...

[2015-01-13 09:10] alexanderdean commented on #5
Actually it will take a little while - there's a couple of other assets that need creating too...

[2015-01-13 09:40] ephraimtabackman commented on #5
Yes, the schema is on Iglu.

Netanel Livni <notifications@github.com> wrote:

[2015-01-13 09:41] natilivni commented on #5
Thanks @alexanderdean!  BTW, there is another piece of the puzzle I don't quite understand yet.  In the emails between Dani and @yalisassoon regarding why our events are not getting through, it said:

"you'll need to pass this data into Snowplow as base64 encoded JSON, using
the co parameter in the tracker protocol. Our documentation on this isn't
great - I think the example event dictionary".

Is

[2015-01-13 09:46] alexanderdean commented on #5
Hey @natilivni - if we're talking about the flash_context, then yes this needs to be added to the co/cx parameter. This is the same whether you're sending a POST or a GET - the difference is that if you are sending a GET, you with end up with `&co=[[user-defined contexts + flash_context]]`, whereas with POST you will be posting have a JSON envelope containing N events, each of which will contain "

[2015-01-13 09:47] alexanderdean commented on #3
Has this been done for 0.1.0 @natilivni ? No worries if not, just checking

[2015-01-13 09:53] natilivni commented on #3
Yes, it has Post support

Sent from my iPhone

[2015-01-13 09:54] alexanderdean commented on #3
Cool! Closing

[2015-01-13 09:54] #3 closed

[2015-01-13 11:13] alexanderdean commented on #5
@natilivni , @ephraimtabackman - how do these column definitions (varchar sizes in particular) look to you: https://github.com/snowplow/snowplow/blob/feature/as-support/4-storage/redshift-storage/sql/com.snowplowanalytics.snowplow/flash_context_1.sql#L31 ?

[2015-01-13 12:52] natilivni commented on #5
@alexanderdean, I don't think that stage_size needs 255, 20 should be sufficient.  Everything else seems fine.

[2015-01-13 12:56] natilivni opened #8 "Define jsonpath files"
I am unclear what we need to do here.  @yalisassoon referenced the link https://github.com/snowplow/example-event-dictionary.  What exactly do we need to do here?

[2015-01-13 13:59] alexanderdean commented on #8
This is done - the file is here: https://github.com/snowplow/snowplow/blob/feature/as-support/4-storage/redshift-storage/jsonpaths/com.snowplowanalytics.snowplow/flash_context_1.json

[2015-01-13 13:59] #8 closed

[2015-01-13 14:00] alexanderdean commented on #5
No problem @natilivni - I can resize. Could you give me an idea of what kind of data will sit in stage_size so I can determine the optimal compression?

[2015-01-13 14:31] ephraimtabackman commented on #5
@alexanderdean - stage_size is modeled after Parameter.RESOLUTION ("res") and Parameter.VIEWPORT ("vp") which are integer pairs delimited with a lowercase "x".

[2015-01-13 14:33] alexanderdean commented on #5
Ah gotcha - in that case, current compression should be fine. But are you sure you don't want to send this as two separate fields for easier analysis?

[2015-01-13 14:34] alexanderdean commented on #5
Or send as "stage_size": {"height": xxx, "width": yyy}, we can still put this into two integer fields in Redshift...

[2015-01-13 14:36] ephraimtabackman commented on #5
I agree that two separate fields is better for easier analysis. What is the reason that Viewport and Resolution are not separate fields?

[2015-01-13 14:37] alexanderdean commented on #5
Legacy - we were following the Google Analytics and Piwik approaches. We have to have dedicated code in the Snowplow enrichment process to unpick these into height and widths: https://github.com/snowplow/snowplow/blob/master/3-enrich/scala-common-enrich/src/main/scala/com.snowplowanalytics.snowplow.enrich/common/enrichments/EnrichmentManager.scala#L139

[2015-01-13 14:38] ephraimtabackman commented on #5
So separate fields is preferable. I'll change it. Which do you prefer: two fields, or one field with two child fields?

[2015-01-13 14:38] alexanderdean commented on #5
I like 1 field with 2 child fields as it groups the stage entity better...

[2015-01-13 14:41] ephraimtabackman commented on #5
OK, will do. Do I make the changes on my feature/flash-context fork, or is that fork expired and I need to fork again?

[2015-01-13 14:41] alexanderdean commented on #5
Probably delete and re-fork will be fastest

[2015-01-13 14:42] ephraimtabackman commented on #5
OK. Learning best practices for GIT.

[2015-01-13 14:49] ephraimtabackman commented on #5
Is convention to copy the previous schema and increment the version number to 1-0-1 or leave it at 1-0-0 for this kind of change?

[2015-01-13 14:51] alexanderdean commented on #5
This is a patch - so we'll overwrite the existing...

A

On Tue, Jan 13, 2015 at 2:49 PM, Ephraim Tabackman <notifications@github.com

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 (0)203 589 6116
+44 7881 622 925
@alexcrdean <https://twitter.com/alexcrdean>

[2015-01-13 15:08] alexanderdean commented on #5
At the moment all properties in the JSON are optional @ephraimtabackman. Is that by design? You can make any required by setting the required: [] at the bottom of the JSON Schema.

[2015-01-13 15:15] ephraimtabackman commented on #5
Good question. I had thought about that and originally didn't see why any should be required, but looking at mobile_context I see there a few required there.

How would you decide that? Depends on the needs of the developer.

Maybe just version...

[2015-01-13 15:16] alexanderdean commented on #5
Best way to decide is: are you 100% confident that all environments will be able to send one of the fields? If so, make that one required. If not, it's fine to leave it as is! I will update the Redshift table (remove the `not null` constraints)...

[2015-01-13 15:17] ephraimtabackman commented on #5
All fields are 100% available except stageSize. I will update.

[2015-01-13 15:18] alexanderdean commented on #5
Okay sounds good... So just leave stageSize out of the top-level required: []

[2015-01-13 16:12] ephraimtabackman commented on #5
All done and pushed. No need for a new PR?

[2015-01-13 16:13] alexanderdean commented on #5
Looks great - no need for a new PR. I have everything I need now - leave it with me, I will ping back later...

[2015-01-14 09:43] alexanderdean commented on #5
This is done now:

* Schema uploaded to Iglu Central
* JSON Path file being synced to all hosted asset buckets
* Redshift table definition `com_snowplowanalytics_snowplow_flash_context_1` deployed into the astracker test database

Closing this ticket now - please let me know as/when you see any flash_contexts landing in Redshift...

[2015-01-14 09:43] #5 closed

[2015-01-14 09:55] natilivni opened #9 "S3 bucket names for events"
We are trying to verify the tracking events are getting through.  Which S3 bucket should they end up in?  Which bucket contains failed events?

[2015-01-14 10:16] yalisassoon commented on #9
Data that fails the initial enrichment step will end up here:
s3://snowplow-saas-data-eu-west-1/astracker/enriched/bad.

Data that fails the shred step will end up here:
s3://snowplow-saas-data-eu-west-1/astracker/shredded/bad.

You should have access to both via the creds I shared on passpack - let me
know if you have any difficulties accessing those locations.

On Wed, Jan 14, 2015 at 9:55 AM, N

[2015-01-14 10:21] natilivni commented on #9
The credentials are not working for snowplow-saas-data-eu-west-1

[2015-01-14 10:24] alexanderdean commented on #9
Guys please discuss private buckets over email not public GitHub...

[2015-01-15 07:55] #9 closed

[2015-01-18 10:16] alexanderdean opened #10 "Write setup guide"
I've temporarily activated the wiki and created this page:

https://github.com/snowplow/snowplow-actionscript3-tracker/wiki/ActionScript3-Tracker-Setup

Once written, we will move the page over to here:

https://github.com/snowplow/snowplow/wiki/ActionScript3-Tracker-Setup

(We're doing it this way because forking wiki repos is very fiddly.)

[2015-01-18 10:17] alexanderdean opened #11 "Write technical documentation"
I've temporarily activated the wiki and created this page:

https://github.com/snowplow/snowplow-actionscript3-tracker/wiki/ActionScript3-Tracker

Once written, we will move the page over to here:

https://github.com/snowplow/snowplow/wiki/ActionScript3-Tracker

(We're doing it this way because forking wiki repos is very fiddly.)

[2015-01-19 11:34] yalisassoon opened #12 "Make sure when sending in custom context without base64 encoding it that it is url encoded"
I can see lines in the bad rows bucket that fail because e.g. the `{` character can be found on the query string, when a custom context is sent into Snowplow without being base64 encoded:

[code]

[2015-01-19 11:55] yalisassoon opened #13 "Screen_view event sent in via POST doesn't appear to have the correct data structure"
I can see a screen_view event sent in on the 18th structured as follows:

[code]

There are several problems with this:

1. The screen view event is sent in on the wrong parameter - it is sent in on `data` instead of `ue_px` or `ue_pr` (depending on whether it is URI or base64 encoded respectively)
2. The unstruct_event schema (`iglu:com.snowplowanalytics.snowplow/unstruct_event/jsonschema/1-0-0`)

[2015-01-19 12:09] yalisassoon opened #14 "Confirm that structured event tracking works"
I can't see any structured events in either Redshift or the bad rows table!

[2015-01-19 12:17] yalisassoon opened #15 "Is there any Flash-specific way for tracking users"
For users tracked via the Javascript tracker, we can track individual users across multiple events using the following fields:

* `domain_userid` (first party cookie)
* `user_fingerprint` (browser fingerprint)

The collector tracks IP address and sets a third party cookies, so these are also available for user tracking.

For tracking users on via the action script tracker, is there a Flash equival

[2015-01-19 13:00] yalisassoon opened #16 "Send page URL and refr URL fields with all events, not just page views"
Currently the page_url fields and refr_url fields are only set for page view events

[2015-01-19 13:08] yalisassoon opened #17 "Send through link clicks events as unstructured events rather than custom contexts"
Currently link_click event jsons are sent in as part of the contexts array e.g.

[code]

These should instead be sent in as an unstructured event. This means moving the JSON out of the contexts array and passing it in as a separate `ue_px` or `ur_pr` parameter (depending on whether it is base64 or url encoded)

[2015-01-19 13:10] natilivni commented on #12
Does this not mean that when using HTTP GET, base64Encoded is always set to true?  if so, what is the purpose of allowing users to set it in the tracker constructor?  Shouldn't it be based on the HTTP verb set in the emitter?

[2015-01-19 13:12] alexanderdean commented on #12
When using HTTP GET, if base64Encoded is set to true, then we send the context as `cx={{base64-encoded JSON}}`. If base64Encoded is set to false, then we send the context as `co={{uri-encoded JSON}}`. Either way, we do some prep work to ensure that the querystring doesn't get corrupted...

[2015-01-19 13:22] natilivni commented on #12
got it.

[2015-01-19 13:24] natilivni commented on #13
fixed in commit 2a97729d6f76d8f761ba8a18c40f5ec7d42eaa14

[2015-01-19 13:24] #13 closed

[2015-01-19 13:41] natilivni commented on #12
Do the characters []/ also need encoding?

[2015-01-19 13:42] alexanderdean commented on #12
For Base64 encoding, we use the URL-safe variant. For URI-encoding - we just use the standard.

[2015-01-19 13:50] natilivni commented on #12
you mean RFC 3986 section 2.2 Reserved Characters (http://tools.ietf.org/html/rfc3986)

!*'();:@&=+$,/?#[]? Because curly braces are not in the standard list.

[2015-01-19 13:55] yalisassoon opened #18 "Is there any scope to do client-side sessionization in the actionscript tracker?"
In the JS tracker we have a session index (`domain_sessionidx`) field - this is set to '1' on a user's first session, '2' on a user's second etc... A cookie is set with each event, to expire after 30 minutes. Each time a new event is sent, the cookie is checked, and if it is still valid, the current session index is sent with the event, otherwise, the session index is incremented. In both cases, t

[2015-01-19 13:58] alexanderdean commented on #12
It looks like RFC 1738 frowns on { and } as well (section 2.2): http://tools.ietf.org/html/rfc1738

So probably safest to URI encode those too.

For Base64-url-safe, the doco is here: https://tools.ietf.org/html/rfc4648#page-7

[2015-01-19 13:59] natilivni commented on #12
fixed in commit 00fa373e76701447a307fc9051f624236f85769d

[2015-01-20 08:30] natilivni commented on #12
After we fix a bug, should we assign it to someone for testing or should we simply close it?

[2015-01-20 08:41] natilivni commented on #17
I used that in order to move away from the fake example schema that was ported over from the java tracker tests.  What would you recommend as a small and simple schema to use as a context for the tests?

[2015-01-20 08:43] natilivni commented on #14
can you please reference some unit tests that generate structured events that we can port over?

[2015-01-20 08:47] natilivni commented on #15
flash has its own storage.  It can also access javascript in most environments and can therefore access the browser cookie collection.  I suggest we try getting the javascript cookie from flash and only fall back to the flash storage.  That way, if a user has an environment where he is tracking using both the javascript and actionscript trackers, the users will be the same.  I was not able to find

[2015-01-20 09:00] alexanderdean commented on #12
For the 0.1.0, closing is fine

[2015-01-20 09:00] #12 closed

[2015-01-20 09:02] alexanderdean commented on #17
This one is not too bad, it's all mostly optional JSON numbers: https://github.com/snowplow/iglu-central/blob/master/schemas/com.snowplowanalytics.snowplow/geolocation_context/jsonschema/1-0-0

[2015-01-20 09:02] alexanderdean commented on #14
@fblundun could you add in a couple of links?

[2015-01-20 09:05] alexanderdean commented on #15
@fblundun - can you give Nati some links plus a para to how the domain_ cookies work in the JS Tracker?

Also - if we are going to fall back to Flash Storage, there is a question as to whether we put the IDs built/stored in Flash Storage in new fields (in flash_context), or whether we overload the existing domain_ fields... @yalisassoon do you have a view on this?

[2015-01-20 09:09] fblundun commented on #14
Here's the relevant test in the Python Tracker: https://github.com/snowplow/snowplow-python-tracker/blob/master/snowplow_tracker/test/integration/test_integration.py#L131-L137

And the Ruby Tracker: https://github.com/snowplow/snowplow-ruby-tracker/blob/master/spec/integration/integration_spec.rb#L112-L127

And the Node.js Tracker: https://github.com/snowplow/snowplow-nodejs-tracker/blob/feature/0

[2015-01-20 09:09] alexanderdean commented on #14
Thanks Fred

[2015-01-20 09:25] yalisassoon commented on #15
As a rule we should never overload a field.

My preference would be to have two separate processes in the Flash tracker
- one that gets / sets the domain_userid via JS, as is done currently in
the JS tracker - using the `duid` field in the tracker protocol.

The second process would set a user and session id based on Flash storage,
and populate values in the Flash context JSON.

At analysis time w

[2015-01-20 09:29] alexanderdean commented on #15
Sounds great - @natilivni, @ephraimtabackman can you please add `userId` and `sessionIndex` to the `flash_context`? This is a patch so we can just override the 1-0-0 version...

[2015-01-20 09:29] fblundun commented on #15
Hi @natilivni ,

Here's a link to the JS Tracker wiki page about our use of cookies: https://github.com/snowplow/snowplow/wiki/1-General-parameters-for-the-Javascript-tracker#cookies

We use two cookies: an ID cookie and a session cookie. The session cookie simply differentiates between different sessions: if a user leaves and then returns before the session cookie has expired, the new visit won't

[2015-01-20 09:30] #17 closed

[2015-01-20 09:30] alexanderdean commented on #15
Thanks Fred!

[2015-01-20 09:32] #16 closed

[2015-01-20 10:01] natilivni commented on #18
It depends on how reliable it has to be.  There are two forms of local storage that flash can access.  The first is called SharedObject which is generally more persistant than cookies are.  It can be made inaccessible by the user but most users do not set such strict security.

The other is to use cookies through javascript, this is riskier since the flash embed tag itself must allow javascript ac

[2015-01-20 10:04] yalisassoon commented on #18
Would it be possible to use both - to use the first to set the `session_index` field in the Flash context, and the second to set `domain_sessionidx` value in atomic.events? Then we leave it up to an analyst which they choose to use, and the analyst can decide based on any differences in coverage and which appears to be more reliable.

[2015-01-20 10:27] natilivni commented on #18
by both, do you mean, sharedobject and cookies, or sharedobject and server?  Either way, of course we can do both.

[2015-01-20 10:29] yalisassoon commented on #18
I meant sharedobject and cookies :-)

[2015-01-20 13:52] natilivni opened #19 "Flash security support - crossdomain.xml"
When in a live environment, flash becomes subject to certain security restrictions.  (see here: http://help.adobe.com/en_US/as3/dev/WS5b3ccc516d4fbf351e63e3d118a9b90204-7e3f.html).  Security is managed by placing a crossdomain.xml file on the root of the host to which the flash movie is trying to make a request.  The most permisive crossdomain policy looks like this:

<?xml version="1.0"?>
<cross-

[2015-01-20 13:54] alexanderdean commented on #19
Hey @natilivni - interesting. Are you saying that the Snowplow event collector needs a file hosted, similar to how we are working on CORS support for the JS Tracker?

[2015-01-20 14:04] natilivni commented on #19
Yes, as long as you are running the flash movie as a developer, (eg. it is being opened on the browser through the file system and not through http, you can access any domain.  If you are hosted, then you need permission to access any subdomain other than the one your movie is hosted on.

[2015-01-20 14:31] alexanderdean commented on #19
Right - is this POST specific, or relates to GETs too?

[2015-01-20 14:31] natilivni commented on #19
Its the same for all requests, GETS and POSTS

[2015-01-20 14:33] natilivni commented on #19
Here is the specification for the crossdomain.xml file: http://www.adobe.com/devnet/articles/crossdomain_policy_file_spec.html

[2015-01-20 14:43] alexanderdean commented on #19
Okay cool, I've scheduled this as tickets in the relevant project (snowplow/snowplow)...

[2015-01-20 14:43] natilivni commented on #19
Great! Thanks!

[2015-01-20 14:44] #19 closed

[2015-01-21 09:34] ephraimtabackman commented on #10
I want to link to a compiled binary (.swc) file for the AS3 tracker.

What is the correct location for the storage of stable, nightly, etc. builds?

[2015-01-21 11:44] alexanderdean commented on #10
Hey @ephraimtabackman - good question! I have gone ahead and created a Bintray home for the binary: https://bintray.com/snowplow/snowplow-generic/snowplow-actionscript3-tracker/0.1.0/view

Normally we zip things before storing them and turn -s to _s in the zipfile name. So the download link would be:

    http://dl.bintray.com/snowplow/snowplow-generic/snowplow_actionscript3_tracker_0.1.0.zip

Doe

[2015-01-21 15:05] ephraimtabackman commented on #10
Thanks. How do I put the binary file there?

[2015-01-21 15:06] alexanderdean commented on #10
Can you email it to me? I don't think Bintray supports package-level
perms...

On Wed, Jan 21, 2015 at 3:05 PM, Ephraim Tabackman <notifications@github.com

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 (0)203 589 6116
+44 7881 622 925
@alexcrdean <https://twitter.com/alexcrdean>

[2015-01-21 15:08] ephraimtabackman commented on #10
Ok. I will reference that URL for now in the docs, and when we have a good stable binary will email it to you. Thank you.

[2015-01-21 15:10] alexanderdean commented on #10
Cheers Ephraim!

On Wed, Jan 21, 2015 at 3:08 PM, Ephraim Tabackman <notifications@github.com

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 (0)203 589 6116
+44 7881 622 925
@alexcrdean <https://twitter.com/alexcrdean>

[2015-01-26 07:55] natilivni opened #20 "Nature of detectSignature method"
I am trying to rewrite the detectSignature method from javascript in actionscript.  However, some of the fields used for this signature, are sometimes unavailable in the flash environment.  It the best practice, in this case, to return null for the signature or to try to build one based on those pieces of data that I am still able to get?

[2015-01-26 08:13] alexanderdean commented on #20
Hey @natilivni - that's a good question! I would say we should build a signature from as many pieces of data as are available. I think the question then is whether we use the existing signature field (confusing as it's not the same signature as the JS Tracker's) or create a new field in the flash_context? @yalisassoon thoughts?

[2015-01-26 09:43] natilivni commented on #20
For now, I am just implementing two separate signatures, one for cookies and the other for shared objects.

[2015-01-26 09:59] natilivni commented on #20
Please notice the following three new subject params that I have added in commit 8715a620301dc4b3d0509efd348a0c3a52ade8f9 :

https://github.com/snowplow/snowplow-actionscript3-tracker/blob/master/snowplow-as3-tracker/src/com/snowplowanalytics/snowplow/tracker/Parameter.as#L46-49

They are the flash shared object storage equivalent of their corresponding cookie based parameters.  @alexanderdean, pl

[2015-01-26 11:18] alexanderdean commented on #20
Hi @natilivni - these three fields look great, however we have a freeze on adding new fields to the Tracker Protocol (preferring custom contexts instead), so these fields will need to go into the flashContext instead. Suggested names:

* `so_vid` -> `domainSessionIndex`
* `so_duid` -> `domainUserId`
* `so_fp` -> `userFingerprint`

These are based on the names found in the `atomic.events`, tweaked

[2015-01-26 12:13] natilivni commented on #20
Thanks @alexanderdean, I have changed the field names and moved them to the flash_context payload in commit 8787b36922814894cef27147ca9473b75fcce8a4.

@ephraimtabackman, can you please update the schema and push the patch to iglu?

[2015-01-26 13:17] ephraimtabackman commented on #20
I updated the schema and pushed to feature/flash_context in iglu.

[2015-01-26 13:33] ephraimtabackman commented on #20
I updated the schema and pushed to branch feature/flash_context in my fork. Please pull.

[2015-01-26 14:12] alexanderdean commented on #20
Done, https://github.com/snowplow/iglu-central/pull/120 This will be released later today...

[2015-01-27 11:08] natilivni commented on #20
Follow up question, can someone please provide me with a signature that is know to be correct in the javascript environment and the data conditions that are used to produce it.  I want to write some unit tests for the new code.  Same question for domainUserId.  Thanks!

[2015-01-27 11:14] alexanderdean commented on #20
Hey @fblundun - do we have any unit tests that check known browser fingerprints in known browser environments (e.g. in Selenium/SauceLabs)?

A separate point I forgot to mention, apologies @natilivni - we are planning on moving the JS Tracker's domainUserId to be a UUID. It's just simpler than creating a custom ID. The ticket is here: https://github.com/snowplow/snowplow-javascript-tracker/issues/

[2015-01-27 11:29] fblundun commented on #20
There are some browser fingerprints used for SauceLabs tests here: https://github.com/snowplow/snowplow-javascript-tracker/blob/master/tests/functional/detectors.js#L49-L61

[2015-01-27 11:30] natilivni commented on #20
@alexanderdean, I think we should coordinate that for the same milestone.  It is important for users that the javascript and actionscript trackers produce the same results for shared fields, since often times, they are both part of the same web application.  Therefore, until the javascript tracker actually moves to uuid, we should keep this one the same.  It the timetable for that milestone short

[2015-01-27 11:39] alexanderdean opened #21 "Update duid and flash_context.domainUserId to a UUID"
Let's synchronize with https://github.com/snowplow/snowplow-javascript-tracker/issues/274

[2015-01-27 11:40] alexanderdean commented on #20
Hey @natilivni - the JavaScript Tracker is blocked on moving to UUID because the domain_userid field in Redshift is too short. The ActionScript Tracker's `domainUserid` in the flash_context doesn't have the same limitation (because it will go into a new `flash_context` table that we create).

However I totally see your point - if you are able to set both the duid (i.e. cookies are functional) and

[2015-01-27 11:55] natilivni commented on #20
@fblundun, do the comments in the signature test represent the full userAgent that is used in creating that signature?  For example when the code says:

1627396823, // Firefox 27.0 Mac
972065378,  // Firefox 27.0 XP

Does that mean that the value 1627396823 should be generated by the userAgent "Firefox 27.0 Mac" ?

[2015-01-27 12:01] fblundun commented on #20
That means that the value 1627396823 is the user fingerprint generated when SauceLabs runs the tests in Firefox 27.0 on Mac. The value will be influenced by which browser plugins are present. You can see the tests here: https://saucelabs.com/u/snowplow

[2015-01-27 12:05] natilivni commented on #20
I see.  in that case, it is still difficult for me to test the actionascript algorithm I wrote.  Since me local environment is difference than the one on saucelabs.  maybe we should create a task to run the actionscript tests in saucelabs?  @alexanderdean, what do you think?

[2015-01-27 12:23] alexanderdean opened #22 "Add SauceLabs integration for functional (DOM-related) tests"

[2015-01-27 12:23] alexanderdean commented on #20
Hey @natilivni - I think it would be cool to run a subset of the ActionScript tests (ones that care about the DOM I guess) in SauceLabs. It might be quite fiddly, but definitely cool. Ticket is here:

https://github.com/snowplow/snowplow-actionscript3-tracker/issues/22

Definitely non-essential though...

[2015-02-02 12:06] natilivni commented on #20
I have run the tests a few times, and I see that things are collecting in the "bad" bucket.  Can you guys help me make sense of the results?  Also, can you think of any other tests we can run for this new functionality?

[2015-02-02 17:54] alexanderdean commented on #20
Hey @natilivni - okay so you are getting some failures like this:

[code]

this is an easy fix - just send through valid events even rather than these dummy payloads. You need to make sure to set these properties: "e", "p", "tv".

More concerning is this payload:

[code]

This has a few things wrong with it:

1. The "schema" field following "e" and the "data" field following "tv" should be in a JS

[2015-02-03 09:19] natilivni commented on #20
Thanks @alexanderdean !

I think that those are old entries.  None of the tests send the example schema any more.  The entries that we were curious about are from this week or the end of last week.

[2015-02-03 10:40] alexanderdean commented on #20
Ah! Sorry for confusion. I've taken a look:

* In shredded/bad, I can't see any failures - so the JSON aspects seem to be working fine
* In enriched/bad, I can't find any bad rows _sent by the ActionScript Tracker_. All the bad rows in there are just regular spam and hacking attempts

To turn the question around: what are you expecting to see in Redshift that you are missing?

[2015-03-01 09:51] alexanderdean opened #23 "All properties in the POST payload must be stringly typed"
Currently you are sending in `"vid":1`, numeric. All properties in the POST payload must be stringly typed for consistency with the GET payload.

Schema reference: https://github.com/snowplow/iglu-central/blob/master/schemas/com.snowplowanalytics.snowplow/payload_data/jsonschema/1-0-2#L53

Please check the other numeric properties to make sure they are stringly typed too.

[2015-03-01 09:53] alexanderdean opened #24 "Base64 encoding must be URL-safe, no padding, no wrapping"
Currently I can see padding (`..==`) and wrapping (`...\n...\n...\n`) in the Base64 encodings. This will break in a `GET` context.

For reference see this recent commit in the iOS Tracker fixing the same problem:

https://github.com/snowplow/snowplow-objc-tracker/commit/e8707b2d5bb7e27356bd07e942e0d146cc1709f9

[2015-03-02 10:12] #24 closed

[2015-03-05 21:11] alexanderdean commented on #23
This has been fixed, closing.

[2015-03-05 21:11] #23 closed

[2015-03-05 21:12] alexanderdean commented on #15
This has been implemented now, closing.

[2015-03-05 21:12] #15 closed

[2015-03-23 11:06] alexanderdean commented on #11
This is done, closing

[2015-03-23 11:06] #11 closed

[2015-03-23 11:06] alexanderdean commented on #10
This is done, closing

[2015-03-23 11:06] #10 closed

[2015-06-05 10:39] fram03 opened #25 "is https available?"
With Emitter constructor we can choose HTTP method to use, but what about forcing https?
Js library offers "forceSecureTracker" configuration field. Is there something for as3 library?

[2015-06-05 10:39] alexanderdean commented on #25
Nice idea! Added to milestone

[2015-08-30 10:54] ephraimtabackman opened #26 "Fix run time errors when Flash stage object cannot be referenced"
If the swf being tracked is not the root swf, but is instead loaded by another swf, there are cases where querying properties of the stage object will throw a run time error.

In such cases, the tracker should gracefully handle the error, and default values should be used instead.

[2015-08-30 11:07] ephraimtabackman commented on #26
Already fixed as bug fix to version 0.1.0

[2015-08-30 11:07] #26 closed

[2015-10-13 12:29] natilivni opened #27 "Fix Base64 encoder so it supports UTF characters"
The current base64 encoder does not handle non ASCII characters gracefully or consistently.  We need to update the code to use an encoder that can handle these characters.

cc @alexanderdean , @yalisassoon , @ephraimtabackman, @daniwaxman

[2015-10-13 12:55] #27 closed

[2016-01-07 13:13] alexanderdean opened #28 "Fix bug where the vid parameter was being set to an integer when cookies are disabled"

[2016-01-07 13:13] alexanderdean opened #29 "Fix null object errors"

[2016-01-07 13:13] alexanderdean opened #30 "Use try catch to handle case where we do not control the stage, and querying stage's properties will cause a run time error"

[2016-01-07 13:14] alexanderdean opened #31 "Fix bug that allows NaN to be sent for VISIT_COUNT ("vid") on payloads"

[2016-01-07 13:14] alexanderdean opened #32 "Change Emitter default protocol back to HTTP"

[2016-01-07 13:15] alexanderdean opened #33 "Add ability to choose HTTP protocol for Emitter"

[2016-01-07 13:15] alexanderdean commented on #32
Created in error

[2016-01-07 13:15] #32 closed

[2016-01-07 13:22] #28 closed

[2016-01-07 13:22] #29 closed

[2016-01-07 13:22] #30 closed

[2016-01-07 13:22] #31 closed

[2016-01-07 13:22] #33 closed

[2016-03-06 07:52] natilivni opened #34 "Add option to disable cookies and FSOs in tracker"

[2016-03-07 07:21] #34 closed

[2016-03-10 14:13] bogaert opened #35 "Add support for dvce_sent_tstamp"
This is related to: https://github.com/snowplow/snowplow/issues/2457

[2016-09-02 07:20] alexanderdean opened #36 "Add support for multiple emitters"
Per https://groups.google.com/forum/#!topic/snowplow-user/6ELjJPGRPjU

Child of snowplow/snowplow#2867

[2016-09-02 16:06] alexanderdean commented on #14
Done, closing

[2016-09-02 16:06] #14 closed

[2016-09-02 16:10] alexanderdean opened #37 "Add trackSelfDescribingEvent"
Functionally equivalent to `trackUnstructuredEvent` but preferable name.

[2016-09-02 16:10] alexanderdean opened #38 "Add support for attaching true timestamp to events"

[2016-09-02 16:20] alexanderdean commented on #18
Scheduling this in for 0.4.0. Note that things are a little confused with the AS Tracker as it stands:

* The duid field is already populated
* There are a couple of sessionization fields inside the [flash_context](https://github.com/snowplow/iglu-central/blob/master/schemas/com.snowplowanalytics.snowplow/flash_context/jsonschema/1-0-0)

My recommendation is to do a clean-room implementation of th

[2016-09-02 16:23] alexanderdean commented on #20
Closed

[2016-09-02 16:23] #20 closed

[2016-09-02 16:24] alexanderdean commented on #18
See #20 for discussion around the original client sessionization logic (which predated the `client_session` context)

[2016-10-26 09:52] alexanderdean opened #39 "Add full mobile_context option using Adobe Air mobile bridges"
We will want plugins into iOS and Android to get the same data as the mobile trackers get.

Particularly:

* deviceManufacturer
* deviceModel

[2016-10-26 09:52] alexanderdean opened #40 "Add geolocation_context"

[2016-10-26 09:54] alexanderdean opened #41 "Placeholder for support backgrounding (mobile only)"

[2016-10-26 09:55] alexanderdean opened #42 "Placeholder for crash detection"

[2016-10-26 12:50] jbeemster commented on #4
Batching in Mobile is done using an upper Byte maximum.  During POSTing we build a POST up until this limit and then send it off.  However if any single event exceeds the limit (GET & POST) we will send it but will not check whether or not the event got there successfully.

The defaults for this are around the ~50000 bytes mark.

[2016-10-28 10:59] alexanderdean opened #43 "Placeholder for Open Video Viewability support"
Suggested by @daniwaxman, see https://www.iab.com/guidelines/open-video-viewability/

[2016-11-18 06:06] nakulgan commented on #25
@alexanderdean
This is already possible. It is however [undocumented](https://github.com/snowplow/snowplow/wiki/ActionScript3-Tracker#emitter) in the wiki,
Emitter signature is
```Emitter(uri:String, httpMethod:String = URLRequestMethod.GET, protocol:String = "http")```

We can chose to provide a `forceSecureTracker` on the **Emitter** and make it public or expose it through the tracker.

[2016-11-18 06:08] nakulgan commented on #37
1. Rename, `trackUnstructuredEvent` to `trackSelfDescribingEvent`.
2. Wrap `trackSelfDescribingEvent` within `trackUnstructuredEvent` and add a deprecated warning/trace.

[2016-11-18 09:18] alexanderdean commented on #25
Thanks for diving into this @nakulgan -

* Does `protocol:String` **force** the protocol used to connect?
* Is there no concept of auto-detection?

A simple interpretation of that argument would suggest that there is **only** currently *forcing*, and there is no *auto-detection* of host page protocol available currently - but no idea if that's actually true...

[2016-11-18 09:20] alexanderdean commented on #37
Sounds like a plan...

[2016-11-18 10:17] nakulgan commented on #39
@alexanderdean
[DeviceInfoANE for Android](https://github.com/janumedia/DeviceInfoANE)
[ane-device-info-util](https://github.com/katopz/ane-device-info-util)
are two ANE's for Android and iOS that provide **Device Info**. They are not supported on Simulator and run on device only.

From what I understand about ANE's so far, they need to be added and packaged in the Air App only. I think it is not

[2016-11-18 10:36] nakulgan commented on #7
Is **not flexunit**. It is a flexmojos 3.4 <  dependency to run unittest [See](https://flexmojos.atlassian.net/wiki/display/FLEXMOJOS/Unit+Tests)

Newer version of FlexUnit is available [here](https://flex.apache.org/download-flexunit.html) which has to be [mavenized](https://flex.apache.org/download-utilities.html) for us to use.

[2016-11-18 10:54] nakulgan commented on #25
That is correct, protocol auto-detection is not supported.
It makes more sense to add `auto-detection` feature along with forcing.

[2016-11-18 12:03] alexanderdean commented on #7
What do you recommend @nakulgan ?

[2016-11-18 12:03] alexanderdean commented on #25
Thanks @nakulgan - my recommendation is that we:

* Switch the `protocol:String` from a string to an enum of `HTTP`, `HTTPS`, `AUTO`
* Rename this ticket to reflect this
* Don't add `forceSecureTracker` and `forceInsecureTracker` methods as they add extra complexity (you have to remember to call an additional method)

This diverges the AS Tracker from the JS Tracker, but it's closer to the mobile

[2016-11-18 12:13] jbeemster commented on #25
All sounds good to me!

[2016-11-18 12:18] alexanderdean commented on #39
Hey @nakulgan - thanks for digging into this. It feels like we probably need to:

* Choose one of these ANEs
* Make it the blessed device info ANE for Snowplow AS Tracker
* PR(s) into it to add anything essential that's missing
* Add documentation on adding it into your Air app
* Add a soft bridge in our Tracker which leverages the blessed ANE if it's available

Does that make sense? Is the last s

[2016-11-19 02:20] nakulgan commented on #25
Sounds good. Thanks @alexanderdean @jbeemster

[2016-11-24 06:24] nakulgan opened #44 "Add retry/localstorage for unsent requests"
Currently, Requests that fail are added to an array. But are then lost.

1. Push unsent requests to localstorage to save them between sessions
2. Retry later on a successful request for a new event.

See discussion [here](https://github.com/snowplow/snowplow-objc-tracker/issues/26).

@alexanderdean @jbeemster thoughts?

[2016-11-24 10:06] alexanderdean commented on #44
SGTM - @jbeemster ?

[2016-11-24 10:12] jbeemster commented on #44
@nakulgan sounds good!

The general flow for the mobile trackers is as follows:

1. An event is sent to the Tracker
2. This event has any extra contexts it needs attached to it
3. The event is loaded into persistent storage
4. Another thread picks these events from storage and begins sending them
  - Either listening for changes or polling for new events
5. On success the event is removed from per

[2016-11-24 11:02] nakulgan commented on #44
Thanks @jbeemster Josh. Implementing the above flow pretty much covers this ticket and #4 as well.

[2016-12-12 09:18] natilivni opened #45 "Add public getter to Tracker which returns the pageUrl detected by javascript external interface"

[2016-12-12 09:19] #45 closed

[2017-02-07 16:51] nakulgan opened #46 "Fix domainUserId storage in cookies and Flash storage"
domainUserId stored using LocalStorage (cookie/sharedObject) is read with incorrect namespace.

A domainUserId is created for each payload and the storage is updated, the next payload does the same because, it reads from the LocalStorage in a different namespace resulting a null value. Each payload therefore has a unique domainUserId.

Instances of LocalStorage in tracker use `this.configStorageNa

[2017-02-07 20:23] alexanderdean commented on #46
Hey @nakulgan - thanks for catching this. Could you re-phrase the description a bit to make the exact bug clear? I've read it a couple of times and I don't quite follow.

[2017-02-08 15:05] nakulgan commented on #7
flexunit 4.1 with group org.flexunit
[See](https://repository.sonatype.org/#nexus-search;quick~flexunit)

I will bump it to 4.1

[2017-02-08 16:16] nakulgan commented on #39
Required values for `mobile_context` are
1. osType
2. osVersion
3. deviceManufacturer
4. deviceModel

**IOS**

- [Capabalities](http://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/flash/system/Capabilities.html) can be used to get the OS, which gives us a string like "iPhone9,2" that can be used to set device_context.
- Alternative would be to use the ANE.

**Android**

 ANE is requ

[2017-02-08 16:23] nakulgan commented on #44
I would move this to 0.5.0, #4 and #44 together make testing quite complex. I would prefer to add a mocking library [Mockolate](mockolate.org) first to have proper tests.

@alexanderdean thoughts?

[2017-02-08 16:55] alexanderdean commented on #44
Hey @nakulgan - I think this was one of the things our customer was really looking for, so I don't think we can push back. But we can certainly add whatever additional testing scaffolding you see fit as additional tickets in this release...

[2017-02-09 00:37] alexanderdean commented on #39
Thanks @nakulgan - it sounds like we need to go with an ANE for both platforms...

[2017-02-15 08:26] nakulgan opened #47 "Fix Travis CI"
Builds fail with
[code]

flex-mojos has issues with Java 8 and Maven 3.3.x

I believe it was fixed in Maven 3.3.9 just recently, [MNG-5958](https://issues.apache.org/jira/browse/MNG-5958)

[2017-02-17 14:16] alexanderdean commented on #44
Please update commit title!

[2017-02-17 14:17] alexanderdean opened #48 "Support Flash storage as well as cookies for sessionization"

[2017-02-17 14:18] alexanderdean commented on #46
Updated ticket name, please note for the commit

[2017-02-17 14:19] alexanderdean commented on #46
De-scheduling as this was covered elsewhere

[2017-02-17 14:19] #46 closed

[2017-02-17 14:22] alexanderdean commented on #25
Renamed title, please update the commit...